/* Navbar container */
.navbar {
  width: 100%;
  height: 70px;
  padding: 0 24px;
  background: rgba(16, 155, 235, 0.1);
  backdrop-filter: blur(12px);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.navbar-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/* Hamburger Icon (3 lines) */
.hamburger {
  width: 28px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background: white;
  border-radius: 5px;
}

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #3a59a0;
  padding: 40px 20px;
  transition: right 0.3s ease;
  z-index: 100;
}

.side-menu.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.side-menu ul li {
  margin: 18px 0;
}

.side-menu a {
  color: #cbd5e1;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.2s;
}

